

<style> 
  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color:black ;
    color: white;
    font-weight: 600;
    font-size: 30px;

  }

</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="55"
    alt="Angular Logo"
    src="../assets/y-intersection.png" />
  <span style="margin-left: 10px;">Yackeen Solutions</span>

   
</div>
<br>
<br>
<br>
<br>


<router-outlet></router-outlet>