.add-btn{
color: black;
background-color: wheat;
float: left;
}
.example-card {
    max-width: 400px;
    background-color: thistle;
    margin-bottom: 10px;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }